[submodule "plug/lsp"]
	path = plug/lsp
	url = https://github.com/AndCake/micro-plugin-lsp
[submodule "official-plugins"]
	path = official-plugins
	url = https://github.com/micro-editor/updated-plugins
